@charset "utf-8";
@import "base";

.personal-info {
  width: span(4);
  padding: rhythm(1);
  margin: auto;
  border: 1px solid $light-tan;
}

.personal-info__email,
.personal-info__title {
  color: $light-red;
}

.section {
  @include break;
  @include span(8);
  @include push(2);
  + .section {
    padding-top: rhythm(2);
  }
}

.section__header {
  @include adjust-font-size-to(28px);
  text-align: center;
  color: $dark-grey;
  margin: rhythm(1) 0;
}

.subsection + .subsection {
  padding-top: rhythm(1);
}

.subsection {
  @include break;
}

.subsection__header {
  @include span(first 3);
  // color: $light-red;
}

.subsection__body {
  @include push(3);
}

.organization__location,
.school-info__location {
  color: $light-tan;
}

.role__responsibilities + .role__responsibilities {
  margin-top: rhythm(0.5);
}

.role + .role {
  margin-top: rhythm(1);
}

.role__title,
.degree__title {
  display: inline;
}

.date {
  @include nowrap;
  margin-left: 5px;
  color: $light-tan;
}

.language {
  color: $light-green;
}

.publications {
  li + li {
    margin-top: rhythm(1);
  }
}

.project__responsibilities {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;

  li:before {
    content: "-";
    padding: 0 0.5em;
  }
}

.hobby-highlight {
  color: $light-green;
}

.project {
  position: relative;
  cursor: pointer;
  background-color: $dark-blue;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  opacity: 0.85;
  color: white;
  transition: opacity .25s ease-in-out, box-shadow .25s ease-in-out;

  &:hover {
    opacity: 0.95;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .project__image {
      width: span(3.5);
      opacity: 0.35;
    }
  }

  + .project {
    margin-top: rhythm(1);
  }
}

a.project__link {
  @include unstyled-link;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

a.project__inner-link {
  position: relative;
  z-index: 2;
}

.project__responsibilities {
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
}

.project__image {
  position: absolute;
  opacity: 0.15;
  width: span(3);
  height: auto;
  top: rhythm(2);
  right: rhythm(2);
  z-index: -1;
  transition: all .25s ease-in-out;
}

.project__details {
  position: relative;
  padding: rhythm(2);
}
