@charset "utf-8";
@import "base";

.personal-info {
  width: span(4);
  padding: rhythm(1) 0;
  margin: auto;
  border: 1px solid $light-tan;
}

.personal-info__email {
  color: $light-red;
}

.section {
  @include break;
  @include span(8);
  @include push(2);
  + .section {
    padding-top: rhythm(1);
  }
}

.section__header {
  @include adjust-font-size-to(24px);
  text-align: center;
  color: $light-grey;
  margin: rhythm(1) 0;
}

.subsection + .subsection {
  padding-top: rhythm(1);
}

.subsection {
  @include break;
}

.subsection__header {
  @include span(first 3);
  color: $light-red;
}

.subsection__body {
  @include push(3);
}

.organization__location,
.school-info__location {
  color: $light-tan;
}

.role + .role {
  margin-top: rhythm(1);
}

.role__title,
.degree__title {
  display: inline;
}

.date {
  margin-left: 5px;
  color: $light-tan;
}

.language {
  color: $light-red;
}

.publications {
  li + li {
    margin-top: rhythm(1);
  }
}

.project__responsibilities {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;

  li:before {
    content: "-";
    padding: 0 0.5em;
  }
}

.hobby-highlight {
  color: $light-red;
}

.project {
  position: relative;
  background-color: $dark-blue;
  opacity: 0.85;
  color: white;
  border-radius: 3px;
  transition: opacity .25s ease-in-out;

  a {
    @include unstyled-link;
  }

  &:hover {
    opacity: 0.95;

    .project__image {
      width: span(3.5);
      opacity: 0.35;
    }
  }

  + .project {
    margin-top: rhythm(1);
  }
}

.project__responsibilities {
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
}

.project__image {
  position: absolute;
  opacity: 0.15;
  width: span(3);
  height: auto;
  top: rhythm(2);
  right: rhythm(2);
  z-index: -1;
  transition: all .25s ease-in-out;
}

.project__details {
  position: relative;
  padding: rhythm(2);
}
